header {
  background-color: $prime-1;
}

.bg-header,
.bg-footer,
.sectionNamber,
.footer-inf {
  width: 1140px;
  margin: 0 auto;
}

.bg-header {
  justify-content: space-between;
  gap: 150px;
}

.bg-header,
.logo,
.buttons {
  display: flex;
}

.menu {
  display: flex;
  gap: 10px;
}

.logo {
  gap: 10px;
}

.logo {
  width: 287px;
  margin-top: 17px;
  margin-bottom: 21px;
}

.logo p {
  padding-top: 20px;
  margin-bottom: 0;
  font-family: $font-logo;
  font-size: 30px;
  line-height: 17px;
  color: $white;
}

.logo .essay {
  font-family: $font-poppins;
  color: $prime-3;
  text-transform: uppercase;
  font-size: 20px;
}

.logo .net {
  font-size: 13px;
  font-family: $font-logo-min;
}

.logo .providing {
  font-family: $font-logo-min;
  font-size: 13px;
}

/*input*/

.menu {
  margin: 30px 0 30px 0;
}

.buttons {
  gap: 20px;
}

.mb-3 {
  margin-bottom: 0 !important;
}

.btn-outline-secondary,
.mb-3 .btn {
  color: $white;
  text-transform: uppercase;
  font-family: $font-poppins;
  font-size: 12px;
  border: none;
}

.btn-outline-secondary:hover,
.mb-3 .btn:hover,
.btn-outline-secondary:active,
.mb-3 .btn:active,
.btn-outline-secondary:visited,
.mb-3 .btn:visited {
  color: $prime-1;
  background-color: $pr-1-light-3;
  cursor: pointer;
}

.dropdown-toggle::after {
  margin-left: 1.255em;
}

.form {
  display: flex;
  gap: 12px;
}

.form .btn-primary {
  @include heading($font-semibold, 12px, $white, 13px);
  width: 100px;
  height: 40px;
  background-color: $pr-1-dark-1;
  border: none;
  text-transform: uppercase;
}

.form .order {
  background-color: $prime-2;
}

.form .btn-primary:hover {
  color: $pr-1-dark-3;
  background-color: $pr-1-light-3;
  cursor: pointer;
}

.form .order:hover {
  color: $prime-2;
  background-color: $pr-2-light-3;
  cursor: pointer;
}

i {
  color: $white;
  padding-left: 6px;
  padding-top: 7px;
}

.buttons p {
  margin-bottom: 0 !important;
}

.phone {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid $white;
  margin-left: 2px;
}

.menu-icon {
  padding-top: 7px;
}

.fa-bars {
  font-size: 27px;
  padding-top: 0;
}

.buttons {
  align-items: center;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav .icon {
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.linksburger {
  display: flex;
  gap: 10px;
}

.topnav .icon:hover {
  background-color: $pr-1-dark-1;
}

.dropdown-menu {
  z-index: 999;
}
