.block_1 {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  margin-top: 112px;
}

.typewriter {
  padding: 65px 110px 0 110px;
  background-color: $pr-1-light-3;
  position: relative;
}

.welcome {
  @include heading($font-poppins, 27px, $pr-1-dark-2, 0);
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 182px;
  top: 82px;
}

.sitename {
  @include heading($font-regular, 15px, $pr-1-light-1, 0);
}

.main-title_1 {
  @include heading($font-poppins, 35px, $pr-4-dark-2, 0);
  margin: 20px auto;
}

.subtitle {
  @include heading($font-regular, 14px, $text_p);
  margin-bottom: 0;
  padding-bottom: 0;
}
