@media (max-width: 1465px) {
  .img-stars {
    display: none;
  }
}

@media (max-width: 1200px) {
  .bg-header {
    width: 1070px;
    gap: 90px;
  }
  .title {
    width: 1070px;
  }
  .input {
    width: 1130px;
  }
  .form-select {
    width: 183px;
  }
  .img-girl {
    right: 13%;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 1070px;
  }
  .advantages {
    padding-top: 20px;
  }
  .advantages p {
    font-size: 12px;
  }
  h3 {
    font-size: 26px;
    margin-bottom: 18px;
  }
  .sprite {
    margin-top: 25px;
  }
  h6 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .services p {
    font-size: 13px;
    padding-bottom: 16px;
  }
  .block_2 .btn-primary {
    margin-top: 20px;
  }
  .steps {
    padding-top: 48px;
  }
  .steps-blocks {
    margin-bottom: 40px;
  }
  .discount-block .discounts {
    padding-top: 22px;
  }
  .discount-block h3 {
    padding: 8px;
  }
  .block_4 {
    top: 170px;
  }
  .sale-paragraph div {
    padding: 13px 57px;
  }
  .tryourservece {
    padding: 19px 21px 19px 30px;
  }
  .saleOFF .get {
    padding-top: 10px;
  }
  .saleOFF p:last-child {
    margin-bottom: 19px;
  }
  .percentage_discounts {
    padding: 13px 25px;
  }
  .img-stars {
    top: 287px;
    right: 16%;
    height: 258px;
  }
  .usediscount15 {
    font-size: 12px;
  }
  .part_4 {
    margin-bottom: 63px;
  }
  .blockSp p {
    padding: 0 24px 30px 24px;
  }
  .data {
    margin-bottom: 32px;
  }
}

@media (max-width: 1130px) {
  .bg-header {
    width: 985px;
    gap: 8px;
  }
  .title {
    width: 985px;
  }
  .input {
    width: 1015px;
  }
  .title h1 {
    font-size: 34px;
  }
  .form-select,
  .elements .btn-primary {
    width: 177px;
  }
  .elements {
    gap: 19px;
  }
  .bt_minus,
  .bt_plus {
    width: 40px;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 985px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .sprite {
    margin-top: 8px;
  }
  h6 {
    font-size: 14px;
    padding: 7px 20px 4px 20px;
  }
  .services p {
    font-size: 12px;
    padding-bottom: 16px;
    padding: 0 40px 17px 40px;
  }

  .steps {
    padding-top: 5px;
  }
  .blockSp p {
    padding: 0 18px 12px 18px;
  }

  .steps-blocks {
    margin-bottom: 50px;
  }
  ul li {
    margin-left: 13px !important;
  }
  .discount-block .discounts {
    padding-top: 16px;
  }
  .discount-block h3 {
    font-size: 30px;
    padding: 7px;
  }
  .discount-block .information {
    font-size: 15px;
  }
  .block_4 {
    width: 803px;
    top: 150px;
  }
  .sale-paragraph div {
    padding: 10px 44px;
  }
  .percentage_discounts {
    padding: 16px 16px;
  }
  .sale-paragraph .sale {
    font-size: 26px;
    margin-bottom: 7px;
  }
  .tryourservece {
    font-size: 19px;
    padding: 17px 12px 12px 21px;
  }
  .saleOFF .get {
    padding-top: 6px;
  }
  .saleOffweek {
    font-size: 37px;
  }
  .saleOFF p:last-child {
    margin-bottom: 15px;
  }
  .img-stars {
    top: 252px;
    right: 17%;
    height: 232px;
  }
  .usediscount15 {
    font-size: 11px;
  }
  .part_4 {
    margin-bottom: 0;
  }
  .data {
    margin-bottom: 36px;
  }
}

@media (max-width: 1024px) {
  .bg-header {
    width: 920px;
    gap: 0px;
  }
  .logo .providing {
    font-size: 12px;
  }
  .linksburger {
    gap: 2px;
  }
  .form {
    gap: 4px;
  }
  .buttons {
    gap: 12px;
  }
  .topnav {
    gap: 3px;
  }
  .title {
    width: 920px;
  }
  .input {
    width: 960px;
  }
  .form-select,
  .elements .btn-primary {
    width: 162px;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 920px;
  }
  .img-girl {
    right: 10%;
  }
  .part_2 {
    margin-top: 45px;
  }
  .steps {
    padding-top: 30px;
  }
  .blockSp p {
    padding: 0 7px 9px 14px;
  }
  ul li {
    margin-left: 4px !important;
  }
  ul a {
    font-size: 11px;
    padding: 9px;
  }
  .copyright {
    font-size: 12px !important;
  }
}

@media (max-width: 991px) {
  .bg-header,
  .title {
    width: 735px;
  }
  .title {
    text-align: center;
    padding-top: 65px;
  }
  .tabs,
  .introduction {
    margin: 0 auto;
  }
  .input {
    width: 775px;
    top: 510px;
  }
  .elements {
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    padding: 20px 25px 20px 50px;
  }
  .form-select,
  .elements .btn-primary {
    width: 215px;
  }
  .bt_minus,
  .bt_plus {
    width: 58px;
  }
  .elements div:nth-child(4) {
    grid-column: span 2;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 735px;
  }
  .block_1 {
    flex-direction: column;
  }
  .typewriter {
    padding: 37px 209px 0 222px;
  }
  .welcome {
    left: 294px;
    top: 66px;
  }
  .sitename,
  .main-title_1 {
    text-align: center;
  }
  .subtitle {
    text-align: justify;
    padding: 9px;
  }
  .steps-blocks {
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionNamber,
  .footer-inf {
    grid-template-columns: repeat(2, 1fr) !important;
    // align-items: center;
  }
  .sectionNamber div:nth-child(1),
  .sectionNamber div:nth-child(2) {
    margin-bottom: 0 !important;
  }
  .sectionNamber div {
    line-height: 20px !important;
    margin-bottom: 35px !important;
    text-align: center;
  }
  .sectionNamber p {
    padding-top: 32px !important;
    padding-bottom: 18px !important;
  }
  .bg-footer {
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    text-align: center;
  }
  .link,
  .phonefree,
  .emailfree {
    justify-content: center;
  }
  .img-stars {
    top: 254px;
    right: 14%;
    height: 223px;
  }
}

@media (max-width: 767px) {
  .bg-header,
  .title {
    width: 630px;
  }
  .input {
    width: 670px;
    top: 510px;
  }
  .form-select,
  .elements .btn-primary {
    width: 195px;
  }
  .bt_minus,
  .bt_plus {
    width: 47px;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 630px;
  }
  .typewriter {
    padding: 37px 109px 0 178px;
  }
  .welcome {
    left: 250px;
    top: 62px;
  }
  .testimonials {
    padding: 0;
  }
  nav ul {
    padding-left: 0;
  }
  .reviews_img {
    width: 488px;
  }
  .answer {
    font-size: 12px;
  }
  .img-left,
  .img-right {
    height: 50px;
  }
  .block_4 {
    width: 686px;
  }
  .steps-blocks {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .block_4 {
    width: 445px;
    flex-direction: column;
  }
  .reviews-part {
    margin-top: 328px;
  }
  .steps-blocks {
    grid-template-columns: 1fr;
  }
  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 669px) {
  .bg-header,
  .title {
    width: 535px;
  }
  .title {
    padding-top: 42px;
  }
  .input {
    width: 575px;
  }
  .form-select,
  .elements .btn-primary {
    width: 149px;
  }
  .bt_minus,
  .bt_plus {
    width: 26px;
  }
  .typewriter {
    padding: 37px 64px 0 133px;
  }
  .welcome {
    left: 204px;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 535px;
  }
  .main-title_1 {
    font-size: 28px;
  }
  .subtitle {
    font-size: 11px;
  }
  .part_2 {
    margin-top: 25px;
  }
  .services p {
    font-size: 10px;
    padding: 0 28px 10px 28px;
  }
  h6 {
    font-size: 12px;
  }
  .block_2 .btn-primary {
    width: 205px;
  }
  .steps h3 {
    font-size: 27px;
    margin-bottom: 64px;
  }
  .blockSp p {
    font-size: 10px;
  }
  .percentage_discounts {
    padding: 10px 10px;
  }
  .sale-paragraph .sale {
    font-size: 23px;
    margin-bottom: 2px;
  }
  .sale-paragraph .pages {
    font-size: 13px;
    line-height: 21px;
  }
  .sale-paragraph div {
    font-size: 12px;
  }
  .tryourservece {
    font-size: 15px;
    padding: 12px 5px 8px 8px;
  }
  .saleOffweek {
    font-size: 29px;
  }
  .saleOFF .get {
    font-size: 19px;
    padding-left: 57px;
  }
  .saleOFF {
    margin: auto 63px;
  }
  .reviews-part {
    margin-top: 260px;
  }
  .reviews h3 {
    font-size: 28px;
  }
  .testimonials {
    font-size: 12px;
  }
  .answer {
    font-size: 9px;
  }
  .img-left,
  .img-right {
    height: 23px;
    margin-top: 51px;
  }
  ul a {
    font-size: 9px !important;
  }
  .sectionNamber div {
    font-size: 10px;
  }
  .sectionNamber p {
    font-size: 14px;
  }
  .copyright {
    font-size: 10px !important;
  }
  .phonefree .fa-solid,
  .emailfree .fa-solid {
    font-size: 13px;
  }
  .phonefree,
  .emailfree {
    font-size: 9px;
  }
  .footer-inf {
    padding-top: 36px;
    padding-bottom: 16px;
  }
  .steps-blocks {
    grid-template-columns: 1fr;
  }
  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575px) {
  .bg-header,
  .title {
    width: 415px;
  }
  .title h1 {
    font-size: 27px;
  }
  .introduction p {
    font-size: 13px;
  }
  .tabs {
    width: 415px;
  }
  .input {
    width: 455px;
    top: 445px;
  }
  .elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
  }
  .form-select,
  .elements .btn-primary {
    width: 385px;
  }
  .bt_minus,
  .bt_plus {
    width: 143px;
  }
  .block_1 {
    margin-top: 278px;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 415px;
  }
  .typewriter {
    padding-left: 73px;
  }
  .welcome {
    left: 148px;
  }
  .services p {
    font-size: 8px;
    padding: 0 15px 10px 15px;
  }
  h6 {
    font-size: 10px;
  }
  nav ul {
    flex-direction: column;
  }
  ul a {
    font-size: 14px !important;
  }
  .discount-block h3 {
    font-size: 22px;
  }
  .discount-block .information {
    font-size: 11px;
    margin-bottom: 0;
  }
  .block_4 {
    top: 119px;
  }
  .reviews-part {
    margin-top: 215px;
  }
  .answer {
    font-size: 7px;
  }
  .lornaGrey {
    font-size: 12px;
  }
  .data {
    margin-bottom: 20px;
    font-size: 10px;
  }
  .mobile-icons {
    flex-direction: column;
    gap: 15px;
    position: fixed;
    top: 48%;
    transform: translateY(-50%);
    right: 15px;
  }

  .mb-icon {
    display: flex;
    width: 65px;
    height: 65px;
    border: 3px solid $pr-1-light-1;
    border-radius: 50%;
    background-color: $prime-1;
  }

  .mb-icon img {
    width: 70%;
    margin: 0 auto;
  }
  .mobile_version {
    width: 100%;
    margin: 0 auto;
    padding-left: 18px;
    padding-top: 16px;
    font-size: 24px;
  }
  .steps-blocks {
    grid-template-columns: 1fr;
  }
  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 545px) {
  .bg-header,
  .title {
    width: 370px;
  }
  .input {
    width: 410px;
    top: 464px;
  }
  .block_1,
  .block_2,
  .block_3,
  .reviews-part,
  .bg-footer,
  .sectionNamber,
  .footer-inf {
    width: 370px;
  }
  .tabs {
    width: 350px;
  }
  .introduction {
    width: 390px;
  }
  .steps-blocks {
    grid-template-columns: 1fr;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .typewriter {
    padding-left: 47px;
  }
  .welcome {
    left: 119px;
  }
  .sectionNamber,
  .footer-inf {
    grid-template-columns: 1fr !important;
  }
}
