<section class="banner">
	<div class="title">
		<h1>
			<span>BlueEssaySite.net -</span><br>
			expert help for custom Written
		</h1>
		<div class="tabs">
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#"></a>
				</li>
			</ul>
		</div>
		<div class="introduction">
			<p>
				On the other hand, we denounce with righteous indig-nation and dislike men who are so beguiled and
				de-moralized
			</p>
		</div>
		<div>
			<button type="button" class="btn btn-outline-primary">Place an order</button>
		</div>
		<img src="../../../assets/img/img_girl.png" alt="" class="img-girl">
	</div>
</section>
<section class="input">
	<div class="elements">
		<div>
			<p>Type of paper</p>
			<select class="form-select" aria-label="Default select example">
				<option selected>Placeholder text</option>
			</select>
		</div>
		<div>
			<p>Writer level</p>
			<select class="form-select" aria-label="Default select example">
				<option selected>High school</option>
			</select>
		</div>
		<div>
			<p>Urgency</p>
			<select class="form-select" aria-label="Default select example">
				<option selected>21 days</option>
			</select>
		</div>
		<div>
			<p>Number of pages</p>
			<div class="quantity_inner">
				<button class="bt_minus">-</button>
				<input type="text" class="quantity" value="1" data-max-count="7">
				<button class="bt_plus">+</button>
			</div>
		</div>
		<div>
			<a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Continue</a>
		</div>
	</div>
</section>