<footer>
	<div class="bg-footer">
		<div class="logo">
			<img src="../../../assets/img/icon-logo.png" alt="">
			<p>
				Blue<span class="essay">essay</span>site.<span class="net">net</span><br>
				<span class="providing">Providing Custom Writing Services</span>
			</p>
		</div>
		<nav>
			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">about us</a></li>
				<li><a href="#">order now</a></li>
				<li><a href="#">disclaimer</a></li>
				<li><a href="#">why us</a></li>
				<li><a href="#">contacts</a></li>
				<li><a href="#">blog</a></li>
			</ul>
		</nav>
	</div>
	<div class="sectionNamber">
		<div>
			<p>Section number1</p>
			But I must explain to you how<br>
			Mistaken idea of denouncing<br>
			Praising pain was born<br>
			Account of the system<br>
			Great explorer of the truth<br>
			No one rejects, dislikes<br>
			Mistaken idea of denouncing<br>
			Praising pain was born
		</div>
		<div>
			<p>Section number2</p>
			But I must explain to you how<br>
			Mistaken idea of denouncing<br>
			Praising pain was born<br>
			Account of the system<br>
			Great explorer of the truth<br>
			No one rejects, dislikes<br>
			Mistaken idea of denouncing<br>
			Praising pain was born
		</div>
		<div>
			<p>Section number3</p>
			But I must explain to you how<br>
			Mistaken idea of denouncing<br>
			Praising pain was born<br>
			Account of the system<br>
			Great explorer of the truth<br>
			No one rejects, dislikes<br>
			Mistaken idea of denouncing<br>
			Praising pain was born
		</div>
		<div>
			<p>Section number4</p>
			But I must explain to you how<br>
			Mistaken idea of denouncing<br>
			Praising pain was born<br>
			Account of the system<br>
			Great explorer of the truth<br>
			No one rejects, dislikes<br>
			Mistaken idea of denouncing<br>
			Praising pain was born
		</div>

	</div>
	<div class="footer-inf">
		<div class="copyright">
			<p>Copyright В© 2017 BlueEssaySite.net<br>
				All rights reserved.</p>
		</div>
		<div class="link">
			<p>
				<i class="fa-brands fa-facebook-f"></i>
			</p>
			<p>
				<i class="fa-brands fa-twitter"></i>
			</p>
			<p>
				<i class="fa-brands fa-pinterest-p"></i>
			</p>
			<p>
				<i class="fa-brands fa-google-plus-g"></i>
			</p>
		</div>
		<div class="phonefree d-sm-none d-md-flex d-none d-sm-flex">
			<p class="icon-i"><i class="fa-solid fa-phone"></i></p>
			<p>
				Toll free:<br>
				<span><b>+ 3 044 111 2732</b></span>
			</p>
		</div>
		<div class="emailfree d-sm-none d-md-flex d-none d-sm-flex">
			<p class="icon-i">
				<i class="fa-solid fa-envelope-open"></i>
			</p>
			<p>
				Email:<br>
				blueessaysite@gmail.com
			</p>
		</div>
	</div>
</footer>