<header>
	<div class="bg-header">
		<div class="logo">
			<img src="../../../assets/img/icon-logo.png" alt="">
			<p>
				Blue<span class="essay">essay</span>site.<span class="net">net</span><br>
				<span class="providing">Providing Custom Writing Services</span>
			</p>
		</div>
		<div class="topnav">
			<div id="myLinks" class="linksburger">
				<div class="input-group mb-3">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">Services</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Professionally-qualified
								writing experts</a></li>
						<li><a class="dropdown-item" href="#">Commitment to deliver papers by deadline</a></li>
						<li><a class="dropdown-item" href="#">Top-quality, at a great price - guaranteed</a></li>
					</ul>
				</div>
				<div class="input-group mb-3">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">About us</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Professionally-qualified
								writing experts</a></li>
						<li><a class="dropdown-item" href="#">Commitment to deliver papers by deadline</a></li>
						<li><a class="dropdown-item" href="#">Top-quality, at a great price - guaranteed</a></li>
					</ul>
				</div>
				<div class="input-group mb-3">
					<button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">How it
						works</button>
				</div>
				<div class="buttons">
					<p class="phone"> <a href="#"><i class="fa-solid fa-phone"></i></a>
						<!-- <i class="fa-solid fa-phone"></i> -->
					</p>
					<div class="form">
						<a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Sign in</a>
						<a href="#" class="btn btn-primary order" role="button" data-bs-toggle="button">Order</a>
					</div>
				</div>
			</div>
			<div>
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		</div>
	</div>
</header>