<main class="part_1">
	<div class="block_1">
		<div class="typewriter">
			<p class="welcome">welcome</p>
			<img src="../../../assets/img/img-main1.png" alt="" class="img-main1">
		</div>
		<div>
			<p class="sitename">
				01 Welcome to Sitename
			</p>
			<h2 class="main-title_1">
				Do you need essay help from a good writing service?
			</h2>
			<p class="subtitle">
				If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees
				that any
				essay
				work provided by our professional writing services will be entirely free of plagiarism and 100%
				freshly written.
				At
				BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom
				term paper
				writing service.
			</p>
			<p class="subtitle">
				Our essay and research paper writing services are provided by a large team of editing, writing and
				research
				specialists who can help you with all types of coursework, whether you have essays, term papers,
				research
				papers,
				theses or dissertations to complete. Our essay writers are able to help you with all subject matters
				for all
				education levels, no matter if you are a high school student or studying for a PhD or Master's
				degree.
			</p>
		</div>
	</div>
	<div class="mobile-icons d-sm-flex d-md-none d-flex d-sm-none">
		<div class="mb-icon icon-mb-1">
			<img src="../../../assets/img/Chat2.svg" alt="">
		</div>
		<div class="mb-icon icon-mb-1">
			<i class="fa-solid fa-phone mobile_version"></i>
		</div>
		<div class="mb-icon icon-mb-1">
			<i class="fa-solid fa-envelope-open mobile_version"></i>
		</div>
	</div>
</main>