<main class="part_2">
	<div class="block_2">
		<div class="advantages">
			<p>02 Our advantages</p>
			<h3>Advantages of Our Writing Services</h3>
		</div>
		<div class="services">
			<div>
				<i class="sprite"></i>
				<h6>Professionally-qualified writing experts</h6>
				<p>But I must explain to you how all this mistaken idea of denouncing plea-sure and praising pain was
					born</p>
			</div>
			<div>
				<i class="sprite"></i>
				<h6>Commitment to deliver papers by deadline</h6>
				<p>But I must explain to you how all this mistaken idea of denouncing plea-sure and praising pain was
					born</p>
			</div>
			<div>
				<i class="sprite"></i>
				<h6>Top-quality, at a great price - guaranteed</h6>
				<p>But I must explain to you how all this mistaken idea of denouncing plea-sure and praising pain was
					born</p>
			</div>
		</div>
		<div class="service-button">
			<a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Place an order</a>
		</div>
	</div>
</main>