<main class="part_4">
	<div class="discount-block">
		<p class="discounts">04 Discounts</p>
		<h3>Our discount program</h3>
		<p class="information">By utilizing elements and principles of Material Design, we were<br> able to create a
			framework that
			incorporates</p>
	</div>
	<div class="block_4">
		<div class="percentage_discounts">
			<div class="sale-paragraph">
				<div>
					<p class="sale">4% <br>off<br></p>
					<p>for more than <br><span class="pages">15 pages</span></p>
				</div>
				<div>
					<p class="sale">5% <br>off<br></p>
					<p>for more than <br><span class="pages">20 pages</span></p>
				</div>
				<div>
					<p class="sale">10% <br>off<br></p>
					<p>for more than <br><span class="pages">50 pages</span></p>
				</div>
				<div>
					<p class="sale">15% <br>off<br></p>
					<p>for more than <br><span class="pages">100 pages</span></p>
				</div>
				</p>
			</div>
		</div>
		<div class="huge_discount">
			<div class="huge_discount-block">
				<p class="tryourservece">Try our service &<br> get huge discounts</p>
				<div class="saleOFF">
					<p class="get">get</p>
					<p class="saleOffweek">15%<br>OFF</p>
					<p> for your 1st order</p>
				</div>
				<p class="usediscount15"><i>Use <b>discount15</b> as discount code</i></p>
			</div>
		</div>
	</div>
	<img src="../../../assets/img/stars_balloon_scissors.png" alt="" class="img-stars">
	</div>
</main>
<section class="reviews-part">
	<div class="reviews">
		<p class="testimonials">05 Testimonials</p>
		<h3>What our clients says</h3>
		<div class="last-bg-main">
			<div><img src="../../../assets/img/left copy 12.png" alt="" class="img-left"></div>
			<div class="reviews_img">
				<figure>
					<img src="../../../assets/img/ava.png" alt="" class="img-ava">
				</figure>
				<p class="answer">Using BestEssayService.net was possibly the best choice of my academic career. Even
					though
					I
					work
					full-time, I managed to submit all my assignments on time owing to the broad array of services on
					offer.
					No
					matter what written work I needed, help was available. I would give a full ten marks.</p>
			</div>
			<div><img src="../../../assets/img/right copy 12.png" alt="" class="img-right"></div>
		</div>
		<p class="lornaGrey">Lorna Grey</p>
		<p class="data">20 apr 2016 at 8:23 </p>
</section>